<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
      <div class="mdlh-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
              <div class="addNew-card mdl-shadow--2dp" >
               <form class="addBox" name="addBox">
                  <div class="mdl-card__supporting-text">
                      <textarea ng-model="newProject.title" name="newItemField"  class="mdl-textfield__input" type="text" rows= "1" id="addNewItem" placeholder="New project title here..." required></textarea>
                      <button ng-click="addProject()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                          Add
                      </button>
                      <!--<span ng-show="addBox.newItemField.$error.required">Please enter something!</span>-->
                  </div>
                </form>

              </div>
          </div>
  <!--Main cotent here-->
          <div class="mdl-grid">

                  <div ng-repeat="project in projects " class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--5-col-tablet mdl-shadow--2dp">
                      <div class="mdl-card__title todo-cards mdl-card--expand" ng-bind="project.title"></div>

                      <div class="mdl-card__supporting-text" >
                          <table class="mdl-data-table mdl-js-data-table ">
                              <tbody>
                                  <tr ng-if="task.projectId == project.id" ng-repeat='task in tasks | filter: query'>
                                      <td>
                                          <input ng-click="taskDone(task)" type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" ng-model='task.done' />
                                      </td>

                                      <td>
                                          <p class="done-{{ task.done }}" ng-bind='task.taskTitle'></p>
                                          <div ng-show="edit" ><input type="text" ng-model="task.taskTitle"></div>
                                      </td>
                                      <td>
                                          <label ng-if="!task.done" ng-click="taskEdit(task)" class="mdl-button mdl-js-button mdl-button--icon" >
                                                <i ng-if="edit" class="material-icons">save</i>
                                                <i ng-if="!edit" class="material-icons">edit</i>
                                          </label>
                                      </td>
                                      <td>
                                          <label ng-click="taskDelete(task)" class="mdl-button mdl-js-button mdl-button--icon" >
                                              <i class="material-icons">delete</i>
                                          </label>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                           <!-- Add new task to project -->
                          <input type="text" required ng-model="newTask.taskTitle">
                            <!--Delete Item-->
                            <label ng-click="taskAdd(project)" class="mdl-button mdl-js-button mdl-button--icon" >
                                <i class="material-icons">add</i>
                            </label>
                            <label ng-click="projectDelete(project)" class="mdl-button mdl-js-button mdl-button--icon" >
                                <i class="material-icons">delete</i>
                            </label>

                        </div>
                  </div>

          </div>

      </div>
  </div>
